<div class= "mt-24 mb-20 text-gray-900 box-border ">
  <h3 class="text-2xl font-semibold mb-6">Get up to date with all your assets with <span class="underline decoration-amber-500 decoration-4 underline-offset-4">Takestock<span></h3>
  <div class= "grid grid-cols-3 gap-4">
    <div class="lg:max-w-sm p-6 rounded-lg bg-gray-50 flex justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href=" <%= new_user_registration_path %>">
      <div>
        <%= image_tag "Twitter.png"%>
      </div>
      <div class= "mt-12 p-2 ">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900">Keep up to date with Twitter Verse</h5>
        <p class="font-normal text-sm text-gray-700 font-serif">Scroll through the most trending tweets about your assets.</p>
        <p class="mt-4 font-normal text-sm text-transparent group-hover:hidden">Learn</p>
        <p class="mt-4 font-normal text-sm text-amber-500 hidden group-hover:block font-serif">Learn More</p>
      </div>
      </a>
    </div>
      <div class="w-100 p-6 pt-12 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-between hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
        <a href=" <%= new_user_registration_path %>">
        <div class="">
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900">Dive into the latest Reddit posts</h5>
          <p class="font-normal text-sm text-gray-700 font-serif">Tap into the top investment content from a variety of community networks.</p>
          <p class="mt-4 font-normal text-sm text-transparent group-hover:hidden">Learn</p>
          <p class="mt-4 font-normal text-sm text-amber-500 hidden group-hover:block font-serif">Learn More</p>
        </div>
        <div class= "p-2">
          <%= image_tag "News.png"%>
        </div>
        </a>
      </div>
      <div class="w-100 p-6 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href=" <%= new_user_registration_path %>">
        <div>
          <%= image_tag "Reddit.png"%>
        </div>
        <div class= "mt-8 p-2">
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900">All the trending news at your fingertips</h5>
          <p class="font-normal text-sm text-gray-700 font-serif">See what is happening around the world for your favourite stocks.</p>
          <p class="mt-4 font-normal text-sm text-transparent group-hover:hidden">Learn</p>
          <p class="mt-4 font-normal text-sm text-amber-500 hidden group-hover:block font-serif">Learn More</p>
        </div>
      </a>
    </div>
  </div>
</div>
