<% if current_user.nil? %>
  <%= render "dashboard/hero" %>
  <%= render "dashboard/call-to-action-banner" %>
<% end %>

<div class="mt-8 flex flex-col px-6">
  <%= turbo_frame_tag "portfolio_turbo_frame" do %>
    <%= render "shared/filter-table" %>
    <%= render "shared/stocks-container", stocks: @stocks %>
  <% end %>
</div>
