<% if current_user.nil? %>
  <%= render "dashboard/hero" %>
  <%= render "dashboard/call-to-action-banner" %>
<% end %>

<div class="mt-16 flex flex-col px-16 sm:px-20">
  <%= turbo_frame_tag "portfolio_turbo_frame" do %>
    <%= render "shared/filter-table" %>
    <%= render "shared/stocks-container", stocks: @stocks %>
  <% end %>
    <%= render "dashboard/news" %>
    <%= render "dashboard/trading_view_widget" %>
  <% if current_user.nil? %>
    <%= render "dashboard/call_to_action_2" %>
  <% end %>
</div>
