  <%= simple_form_for [portfolio] do |form| %>
    <div class="xl:w-70">
      <div class="input-group relative items-stretch w-full">
        <%= form.input :name, label: 'Portfolio Name&nbsp&nbsp' %>
        <%= form.submit %>
        <%# <%= link_to "Cancel", :back %>
        <%# <%= link_to 'Back', 'javascript:history.go(-1);' %>
        <%= link_to "Cancel", "#", data: {
                      action:"click->dialog#close",
                      controller: 'dialog'
                    } %>
        <%# <%= link_to "Cancel", root_path, class: "btn btn--light" %>
      </div>
    </div>
  <% end %>
