  <%= simple_form_for [portfolio] do |form| %>
    <div class="xl:w-70">
      <div class="input-group relative items-stretch w-full">
        <%= form.input :name, label: 'Portfolio Name&nbsp&nbsp' %>
        <%= form.submit %>
        <%# <%= link_to "Cancel", :back %>
        <%# <%= link_to 'Back', 'javascript:history.go(-1);' %>
        <button class="text-gray-600 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-indigo-300 rounded-full border border-gray-200 text-sm font-medium py-2.5 hover:text-gray-900 focus:z-10 w-1/2" value="cancel">Cancel</button>
        <%# <%= link_to "Cancel", root_path, class: "btn btn--light" %>
      </div>
    </div>
  <% end %>
