<%= turbo_frame_tag "portfolio_turbo_frame" do %>
  <%# <h3 class="text-4xl font-bold">Markets</h3>
  <p class="text-lg">View by: <%= @portfolio.name %></p>
  <div class="flex items-baseline justify-between items-start">
    <h3 class="text-4xl font-bold">Markets</h3>
    <p class="ml-8 text-xl font-semibold font-serif">View by: <span class="ml-2 underline decoration-amber-500 decoration-4 underline-offset-8"><%= @portfolio.name %><span></p>
  </div>
  <%= render "dashboard/filter-table"%>
  <%= render "dashboard/stocks-container", stocks: @portfolio.stocks, portfolio: @portfolio %>
<% end %>
