<div class="mb-4">
<% if false %>
  <div>
    <h3 class="text-xl font-bold text-gray-900 mb-2">This is Reddit</h3>
    <ul>
      <li><%= article['data']['title'] %></li>
      <li><%= article['data']['subreddit_name_prefixed'] %></li>
      <li>Posted by <%= article['data']['author'] %> <%= article['data']['created'] %> </li>

    </ul>
  </div>

<% end %>

  <div class="mb-10">
    <h3 class="text-2xl font-medium leading-6 text-gray-900">Reddit</h3>
    <p class="mt-1 max-w-2xl text-md text-gray-600">Top Trending by Week</p>
  </div>
  <div class="">
    <dl>
    <% reddit_articles.first(5).each do |article|  %>
      <% time_posted = Time.now - article['data']['created'] %>
      <% raise %>
      <div class="mb-5 p-5 border rounded-lg border-gray-200 cursor-pointer hover:bg-gray-100 group" onclick="window.location='<%= article['data']['url'] %>'">
        <dd class="mt-1 text-sm text-gray-500 mb-3"><%= article['data']['subreddit_name_prefixed'] %></dd>
        <dt class="text-sm font-medium text-gray-900 mb-3"><%= article['data']['title'] %></dt>
        <dd class="mt-1 text-sm text-gray-500 mb-3">Posted by <%= article['data']['author'] %> at <%= time_posted %></dd>
      </div>
      <% end %>
    </dl>
  </div>
</div>

<% if false %>
  <div class="pt-2">
    <div class="flex items-start rounded-xl bg-white p-4 shadow-lg">
      <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
              <img class="w-20 h-20 rounded-xl" src="<%= a["urlToImage"] %>" alt="news">
          </div>
          <div class="flex flex-col h-20 justify-between">
            <div>
              <a href="<%= a["url"] %>" target="_blank">
                <p class="text-sm font-medium text-gray-900 dark:text-white"
                style="display: -webkit-box; -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; overflow: hidden;">
                  <%= a["title"] %>
                </p>
              </a>
            </div>
            <div>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                <%= a["publishedAt"] %>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>

<% if false %>

  <div class="pt-2">
    <div class="flex items-start rounded-xl bg-white p-4 shadow-lg">
      <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
              <img class="w-20 h-20 rounded-xl" src="<%= a["urlToImage"] %>" alt="news">
          </div>
          <div class="flex flex-col h-20 justify-between">
            <div>
              <a href="<%= a["url"] %>" target="_blank">
                <p class="text-sm font-medium text-gray-900 dark:text-white"
                style="display: -webkit-box; -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; overflow: hidden;">
                  <%= a["title"] %>
                </p>
              </a>
            </div>
            <div>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                <%= a["publishedAt"] %>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
