<div class="mb-4 ">
  <% if false %>
    <div>
      <h3 class="text-xl font-bold text-gray-900 mb-2">This is Reddit</h3>
      <ul>
        <li><%= article['data']['title'] %></li>
        <li><%= article['data']['subreddit_name_prefixed'] %></li>
        <li>Posted by <%= article['data']['author'] %> <%= article['data']['created'] %> </li>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= image_tag "Reddit_logo_new.svg", width:"30%" %>
  </div>

  <div class="font-serif">
    <% reddit_articles.first(5).each do |article|  %>
      <div class="container h-32 w-full py-2 mx-auto">
        <%= link_to "https://www.reddit.com/#{article['data']['permalink']}", target:"_blank" do %>
          <div class="grid h-full border border-slate-300 grid-rows-3 rounded-lg p-2 bg-slate-100 hover:bg-slate-200">
            <div class="row-span-1">
              <div class="h-full grid grid-cols-11">
                <div class="grid grid-rows-3">
                  <span class="row-span-1 material-symbols-rounded text-xxxs hover:text-orange-400 text-center">arrow_upward</span>
                  <p class="text-center row-span-1 row-start-2 text-xxxs float-left row-span-1 text-slate-800"><strong><%= article['data']['ups'] %></strong></p>
                  <span class="row-span-1 material-symbols-rounded text-xxxs hover:text-blue-400 text-center">arrow_downward</span>
                </div>
                <div class="col-span-10 my-auto px-1">
                  <div class="grid grid-rows-2">
                    <div class="inline-flex row-span-1">
                      <% article['data']['all_awardings'].each do |award|  %>
                        <%= image_tag award["icon_url"],class:"self-auto float-left max-h-4" %>
                      <% end %>
                    </div>
                    <p class="text-xxs float-left row-span-1">posted in <span class="underline decoration-solid"><%= article['data']['subreddit_name_prefixed'] %></span> by <span class="underline decoration-solid">u/<%= article['data']['author'] %></span> at <i><%= Time.at(article['data']['created']).to_datetime.strftime("%m-%d-%Y") %></i></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-span-2 px-2 overflow-hidden py-2 my-2 border-t-2 border-slate-300">
              <p class="text-sm"><%= article['data']['title'] %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>











<% if false %>

      <%# <div class="mb-2 p-4 border rounded-lg border-gray-200 cursor-pointer hover:bg-gray-100 group" onclick="window.location='<%= article['data']['permalink']'"> %>
        <dd class="mt-1 text-sm text-gray-500 mb-3"><%= article['data']['subreddit_name_prefixed'] %></dd>
        <dt class="text-sm font-medium text-gray-900 mb-3"><%= article['data']['title'] %></dt>
        <dd class="mt-1 text-sm text-gray-500 mb-3">Posted by <%= article['data']['author'] %> at <%= time_posted %></dd>
      </div>

  <div class="pt-2">
    <div class="flex items-start rounded-xl bg-white p-4 shadow-lg">
      <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
              <img class="w-20 h-20 rounded-xl" src="<%= a["urlToImage"] %>" alt="news">
          </div>
          <div class="flex flex-col h-20 justify-between">
            <div>
              <a href="<%= a["url"] %>" target="_blank">
                <p class="text-sm font-medium text-gray-900 "
                style="display: -webkit-box; -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; overflow: hidden;">
                  <%= a["title"] %>
                </p>
              </a>
            </div>
            <div>
              <p class="text-sm text-gray-500 truncate">
                <%= a["publishedAt"] %>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>

<% if false %>

  <div class="pt-2">
    <div class="flex items-start rounded-xl bg-white p-4 shadow-lg">
      <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
              <img class="w-20 h-20 rounded-xl" src="<%= a["urlToImage"] %>" alt="news">
          </div>
          <div class="flex flex-col h-20 justify-between">
            <div>
              <a href="<%= a["url"] %>" target="_blank">
                <p class="text-sm font-medium text-gray-900"
                style="display: -webkit-box; -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; overflow: hidden;">
                  <%= a["title"] %>
                </p>
              </a>
            </div>
            <div>
              <p class="text-sm text-gray-500 truncate">
                <%= a["publishedAt"] %>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
