<div class="w-100 px-4" data-controller="timescroll" data-action="change->timescroll#select" >
 <%= render "timescroll", stock: @stock %>
</div>


<div class="h-full w-full bg-gray-50 relative overflow-y-auto">
  <div class="w-full shadow p-6 grid-rows-3">
    <div class="w-full row-span-1 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 gap-4">
       <div class="absolute top-0 right-0 px-3 py-3 lg:px-5 lg:pl-3">
        <%= render "add", stock: @stock %>
      </div>

      <%# STOCK INFO %>
      <div id="stock-info" class="row-span-1 bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
        <div class="flex items-center justify-between mb-4">
          <%= render "price_widget", stock: @stock %>
        </div>
        <div id="basic-info", class="flex items-center justify-between mb-4">
          <%= render "basic_info", stock: @stock %>
        </div>
      </div>
      <%# TWITTER %>
      <div id="twitter" class="row-span-2 bg-white shadow rounded-lg p-4 sm:p-4 xl:p-6">
          <div class="flex items-center justify-between mb-4">
            <div class="flex-shrink-0">
                <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">This is for TWITTER</span>
                <h3 class="text-base font-normal text-gray-500">Sales this week</h3>
            </div>
            <div class="flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                12.5%
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
            </div>
          </div>
          <div id="main-chart"></div>
      </div>
      <%# PRICE CHART %>
      <div id="price-chart" class="row-span-1 bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
          <div class="flex items-center justify-between mb-4 h-full">
            <%= render "price_chart", stock:@stock %>
          </div>
      </div>
      <%# REDDIT %>
      <div id="reddit" class="row-span-1 bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
        <%= render "stocks/reddit-section", reddit_articles: @reddit_articles %>
      </div>
      <%# NEWS %>
      <div id="news" class="row-span-1 bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
        <div class="flex items-center justify-between mb-4">
          <h3 class="text-xl font-bold leading-none text-gray-900">Latest News Here</h3>
        </div>
        <div>
          <%= render "news", stock: @stock, enddate: @enddate %>
        </div>
      </div>
    </div>
  </div>
</div>
