<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>

<div class="grid grid-rows-1 grid-cols-1 grid-flow-col gap-4">
  <div class="col-start-1 px-3 py-3 lg:px-5 lg:pl-3">
    <%= render "stocks/form", stock: @new_stock %>
  </div>
  <div class=" px-3 py-3 lg:px-5 lg:pl-3">
    <%= render "add", stock: @stock %>
  </div>
</div>


  <div class="w-full" data-controller="timescroll" data-action="change->timescroll#select" >
  <%= render "timescroll", stock: @stock %>
  <p data-timescroll-target="tickername"><% @stock.ticker %></p>
  </div>

<div class="h-full w-full bg-gray-50 relative overflow-y-auto">
  <div class="w-full shadow p-6 grid-rows-3">
    <div class="w-full row-span-1 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 gap-4">

      <%# STOCK INFO %>
      <div id="stock-info" class="row-span-1 bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
        <div class="flex items-center justify-between mb-4">
          <%= render "price_widget", stock: @stock %>
        </div>
        <div id="basic-info", class="flex items-center justify-between mb-4">
          <%# <%= render "basic_info", stock: @stock %> %>
        </div>
      </div>
      <%# TWITTER %>
      <div id="twitter" class="row-span-2 bg-white shadow rounded-lg p-4 sm:p-4 xl:p-6">
          <div class="w-full flex items-center justify-between mb-4">
            <div class="flex-shrink-0 w-full">
              <div class="w-full" data-controller="twitter" data-twitter-ticker="<%= @stock.ticker %>">
                <div id="tweet" class="w-full">
                </div>
              </div>
            </div>
          </div>
          <div id="main-chart"></div>
      </div>
      <%# PRICE CHART %>
      <div id="price-chart" class="row-span-1 bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
          <div class="flex items-center justify-between mb-4 h-full">
            <%= render "price_chart", stock:@stock %>
          </div>
      </div>
      <%# REDDIT %>
      <div id="reddit" class="row-span-1 bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
          <div class="mb-4 flex items-center justify-between">
            <div>
                <h3 class="text-xl font-bold text-gray-900 mb-2">This is Reddit</h3>
                <ul>
                <% @reddit_articles.each do |article|  %>
                  <li><%= article['data']['title'] %></li>
                  <li><%= article['data']['subreddit_name_prefixed'] %></li>
                  <li>Posted by <%= article['data']['author'] %> <%= article['data']['created'] %> </li>

                  <% end %>
                </ul>
            </div>
          </div>
      </div>
      <%# NEWS %>
      <div id="news" class="row-span-1 bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
        <div class="flex items-center justify-between mb-4">
          <h3 class="text-xl font-bold leading-none text-gray-900">Latest News Here</h3>
        </div>

        <div data-timescroll-target="news">
          <%= render "news", stock: @stock, enddate: @enddate %>
        </div>

      </div>
    </div>
  </div>
</div>
