
<div class="flex mb-5 mt-10">
  <%# SEARCH BAR %>
  <div class="flex flex-row">
    <div>
      <div class="input-group relative flex items-stretch w-full mb-4 rounded-full">

        <%# <input id="searchbox" type="search" class="form-control relative flex-auto min-w-0 block w-50 px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-indigo-600 focus:outline-none" placeholder="Filter Table e.g: Tesla" aria-label="Search" aria-describedby="button-addon2">
        <button class="btn inline-block px-6 py-2.5 bg-indigo-600 text-white font-medium text-xs leading-tight uppercase rounded-r-full shadow-md hover:bg-indigo-700 hover:shadow-lg focus:bg-indigo-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out flex items-center mr-4" type="button" id="button-addon2">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
        </svg>
      </button> %>
      <div>
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form_input form-control relative min-w-0 block w-50 px-3 py-1.5 text-sm text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-indigo-600 focus:outline-none",
              placeholder: "Filter Table"
          %>
          </div>
          <div>
          <%= submit_tag "Search",
              class: "form_input btn inline-block h-100 px-4 py-2.5 bg-indigo-600 text-white text-sm leading-tight rounded-r-full shadow-md hover:bg-indigo-700 hover:shadow-lg focus:bg-indigo-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out flex items-center mr-4"%>
        <% end %>
          </div>
      </div>
    </div>
  </div>

  <%# TRENDING %>
  <div class="flex space-x-2 justify-center">
    <div>
      <%= link_to "Trending", root_path, class: "inline-flex w-25 justify-center rounded-full border border-gray-300 bg-white px-6 py-2 text-sm text-gray-700 shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100 mr-4"  %>
    </div>
  </div>

  <%# PORTFOLIOS DROPDOWN %>
      <% if current_user.present? %>
  <div data-controller="dropdown" class="relative">
    <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="inline-flex w-25 justify-center items-center rounded-full border border-gray-300 bg-white px-6 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">
      My Portfolios
      <i class="fa-solid fa-chevron-down ml-2"></i>
    </button>
    <div
      data-dropdown-target="menu"
      class="hidden transition transform absolute left-0 z-10 mt-2 w-80 origin-top-right rounded-sm bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95">
       <%# DISPLAYS PORTFOLIOS IF USER IS PRESENT %>
        <% @portfolios.each do |portfolio| %>
          <li class="flex justify-between text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100" role="menuitem">
            <div>
              <%= link_to portfolio.name,
                  portfolio_path(portfolio),
                  data_action:"dropdown#toggle"
                  %>
            </div>
            <div class="flex">
              <div>
              <% edit_form = render('portfolios/portfolio-form', portfolio: portfolio) %>
                <%= link_to "Edit",
                    edit_portfolio_path(portfolio),
                    data: {
                      action:"dropdown#toggle click->dialog#open",
                      modal_content: edit_form,
                      controller: 'dialog'
                    },
                    class: "mr-3"
                    %>
              </div>
              <div>
                <%= link_to "Delete",
                    portfolio_path(portfolio),
                    data: { turbo_method: :delete,
                            turbo_confirm: "Are you sure you want to delete #{portfolio.name}?" },
                    data_action:"dropdown#toggle" %>
              </div>
            </div>
          </li>
        <% end %>
        <li class="text-gray-700 block px-4 py-3 border-t-1 border-gray-200 bg-gray-50 text-sm hover:bg-gray-100" role="menuitem">
          <% new_form = render('portfolios/portfolio-form', portfolio: Portfolio.new) %>
          <%= link_to " Create New Portfolio ＋",
              new_portfolio_path,
              data: {
                      action:"dropdown#toggle click->dialog#open",
                      modal_content: new_form,
                      controller: 'dialog'
                    },
                    class: "mr-3" %>
        </li>
      <%# PROMPTS USER TO LOG IN OR SIGN UP %>
        <%# <li class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100" role="menuitem">
          <%= link_to "Log in or Sign up to manage portfolios",
              new_user_registration_path,
              data_action:"dropdown#toggle" %>
        <%# </li> %>
    </div>
  </div>
      <% end %>
</div>
