<% if current_user.nil? %>
  <div class=" w-full">
    <div class="mx-auto px-4 sm:px-6">
      <div class="flex items-center justify-between py-4">
        <div class="flex justify-start">
          <a href=<%= root_path %>>
            <span class="ml-8 text-2xl font-bold">TakeStock</span>
            <%# <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt=""> %>
          </a>
        </div>
      <div class="relative">
        <div class="items-center justify-end">
            <%= link_to "Sign in", new_user_session_path, class: "whitespace-nowrap text-base text-gray-500 hover:text-gray-900"  %>
            <%= link_to "Get Started", new_user_registration_path, class: "ml-6 inline-flex items-center justify-center w-30 h-10 whitespace-nowrap rounded-full border border-transparent bg-indigo-600 px-4 py-1 text-base text-white shadow-sm hover:bg-indigo-700" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="w-full">
    <div class="mx-auto px-4 sm:px-6">
      <div class="grid grid-cols-3 py-4">
        <div class="flex justify-start content-center">
          <%= render "stocks/form", stock: Stock.new %>
        </div>
        <div class="flex justify-center content-center">
          <a href=<%= root_path %>>
            <span class="ml-2 text-2xl font-bold">TakeStock</span>
            <%# <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt=""> %>
          </a>
        </div>
        <div class="flex justify-end content-center">
          <a class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900" href= "<%= destroy_user_session_path %>" data-turbo-method="delete">Log Out</a>
        </div>
    </div>
  </div>
<% end %>
