<% if current_user.nil? %>
  <div class="w-full font-serif">
    <div class="mx-auto px-8">
      <div class="flex items-center justify-between py-4">
        <div class="flex justify-start">
          <a href=<%= root_path %>>
            <div class="flex items-center">
            <svg class="fill-current h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm64 192c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm64-64c0-17.7 14.3-32 32-32s32 14.3 32 32V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V160zM320 288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V320c0-17.7 14.3-32 32-32z"/></svg>
            <span class="ml-1 text-2xl font-bold">TakeStock</span>
            <%# <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt=""> %>
            </div>
          </a>
        </div>
      <div class="relative">
        <div class="items-center justify-end">
            <%= link_to "Sign in", new_user_session_path, class: "whitespace-nowrap text-base text-gray-500 hover:text-gray-900"  %>
            <%= link_to "Get Started", new_user_registration_path, class: "ml-6 inline-flex items-center justify-center w-28 h-9 whitespace-nowrap rounded-full border border-transparent bg-indigo-600 px-4 py-1 text-base text-white shadow-sm hover:bg-indigo-700" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="max-w-5xl mx-auto font-serif">
    <div class="">
      <div class="grid grid-cols-3 py-4">
        <div class="flex justify-start content-center">
          <%= render "stocks/form", stock: Stock.new %>
        </div>
        <div class="flex justify-center content-center">
          <a href=<%= root_path %>>
            <div class="flex items-center">
              <svg class="fill-current h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm64 192c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm64-64c0-17.7 14.3-32 32-32s32 14.3 32 32V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V160zM320 288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V320c0-17.7 14.3-32 32-32z"/></svg>
              <span class="ml-2 text-2xl font-bold">TakeStock</span>
              <%# <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt=""> %>
            </div>
          </a>
        </div>
        <div class="flex justify-end content-center">
          <a class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900" href= "<%= destroy_user_session_path %>" data-turbo-method="delete">Log Out</a>
        </div>
    </div>
  </div>
<% end %>
