<% portfolio ||= nil %>
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">#</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ticker</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Daily High</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Daily Low</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Change $</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Change %</th>
              <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white min-h-max">
            <%# Display all the stock information if Portfolio has stocks, ELSE display string to notify user of empty portfolio L50-52 %>
            <tr class="text-white cursor-pointer">
              <% if stocks.any? %>
              <% stocks.each_with_index do |stock, index| %>
                <tr class="group hover:bg-indigo-500 text-white cursor-pointer" onclick="window.location='<%= stock_url(stock) %>'">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 group-hover:text-white"> <%= index + 1 %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 group-hover:text-white"><%= stock.yahooapi["shortName"] %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 group-hover:text-white"><%= stock.ticker %></td>
                  <%# Interpolate data from API to Last, High & Low Below %>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 group-hover:text-white/50">$<%= stock.yahooapi["regularMarketPrice"].round(2) %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 group-hover:text-white/50">$<%= stock.yahooapi["regularMarketDayHigh"].round(2) %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 group-hover:text-white/50">$<%= stock.yahooapi["regularMarketDayLow"].round(2) %></td>
                  <%# Display Green or Red depending on whether Up or Down %>
                  <% if stock.yahooapi["regularMarketChange"].negative? %>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-rose-500 group-hover:text-white/50">- $<%= stock.yahooapi["regularMarketChange"].round(2).abs %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-rose-500 group-hover:text-white/50">- <%= stock.yahooapi["regularMarketChangePercent"].round(2).abs %>%</td>
                  <% else %>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-emerald-500 group-hover:text-white/50">+ $<%= stock.yahooapi["regularMarketChange"].round(2).abs %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-emerald-500 group-hover:text-white/50">+ <%= stock.yahooapi["regularMarketChangePercent"].round(2).abs %>%</td>
                  <% end %>
                  <%# Only Display Delete Option if Portfolio is present %>
                  <% if portfolio %>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 table-cell">
                    <%= link_to portfolio_stock_path(
                      portfolio_id: portfolio.id,
                                stock_id: stock.id),
                                data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this stock?"},
                                class: 'btn btn-light btn-sm text-right' do %>
                                <i class="fa-regular fa-trash-can"></i>
                                <% end %>
                    </td>
                  <% else %>
                  <%# Display Add To Portfolio Option if not Portfolio Section %>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 table-cell group-hover:text-white/50">
                      <%= render "shared/add-stock", stock: stock %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% else %>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 table-cell">
              Portfolio is currently empty
              </td>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%# DISPLAY CALL TO ACTION TO GET USER TO SIGN UP %>
  <% if current_user.nil? %>
    <div>
      <p class="text-lg text-gray-900">Sign up now to build your own portfolio for free!</p>
      <%= link_to "Get Started", new_user_registration_path, class: "text-white mt-6 ml-6 inline-flex items-center justify-center w-40 h-10 whitespace-nowrap rounded-full border border-transparent bg-indigo-700 px-4 py-1 text-base font-medium text-indigo-600 hover:bg-gray-200" %>
    </div>
  <% end %>
  <%# DISPLAY CALL TO ACTION TO GET USER TO SIGN UP END %>

  <% if false %>

        <div class="min-w-full divide-y divide-gray-300 div-table">
          <div class="bg-gray-50 grid grid-cols-11">
              <div class=" py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">#</div>
              <div class="col-span-3 px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</div>
              <div class=" px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ticker</div>
              <div class=" px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last</div>
              <div class=" px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Daily High</div>
              <div class=" px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Daily Low</div>
              <div class=" px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Change $</div>
              <div class=" px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Change %</div>
              <div class=" px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></div>
          </div>
          <div class="divide-y divide-gray-200 bg-white" id="hits">
            <%# Display all the stock information if Portfolio has stocks, ELSE display string to notify user of empty portfolio L50-52 %>
          </div>
        </div>

  <% end %>
