<div data-timescroll-target="news">
</div>
<%= @newsdate %>


<%= turbo_frame_tag "news_stock" do %>
  <div id="news" class="w-full flex-column items-center justify-between mb-4">
        <% array = @news_hash["articles"] %>
        <% if array.length == 0  %>
          <%= "There is no news for today yet." %>
        <% else %>
          <% array.each do |a| %>
            <div class="font-serif">
              <div class="my-4 p-4 border rounded-lg border-slate-300 hover:bg-gray-100 hover:cursor-pointer group" onclick="window.location='<%= a['url'] %>'">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img class="object-cover h-20 w-20 rounded-xl" src="<%= a["urlToImage"]%>" alt="news" >

                    </div>
                    <div class="flex flex-col h-20 justify-between">
                      <div>
                        <a href="<%= a['url'] %>" target="_blank">
                          <p class="text-sm font-medium text-gray-900"
                          style="display: -webkit-box; -webkit-box-orient: vertical;
                          -webkit-line-clamp: 3; overflow: hidden;">
                            <%= a["title"] %>
                          </p>
                        </a>
                      </div>
                      <div>
                        <p class="text-sm text-gray-400 truncate">
                          <%= Date.parse(a['publishedAt']).strftime("%a, %d %b %Y, %H:%I:%M GMT") %>
                        </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
<% end %>
