<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <%# <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> %>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "email",
                                  placeholder: "Email Address",
                                  class: "relative block w-full appearance-none border-t-0 border-l-0 border-r-0 border-b-1 border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none sm:text-sm" }
                    %>
        <%= f.input :password,
                    required: false,
                    label: false,
                    input_html: { autocomplete: "current-password",
                                  placeholder: "Password",
                                  class: "relative block w-full appearance-none border-t-0 border-l-0 border-r-0 border-b-1 border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none sm:text-sm mb-8" }
                                  %>
        <%= f.input :remember_me, input_html: { class: "text-sm text-gray-900 mr-2"} , as: :boolean if devise_mapping.rememberable?%>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "group relative flex w-full justify-center rounded-full border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 my-10" %>
      </div>
    <% end %>
    <div class="mx-3 flex text-center justify-items-stretch justify-between">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
