<!DOCTYPE html>
<html>
  <head>
    <title>TakeStock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://use.fontawesome.com/6ee6762a16.js"></script>
    <%# <script src="https://use.fontawesome.com/your-embed-code.js"></script> %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
    </script>
  </head>
  <body>
    <%= render "shared/flashes" %>
  <%# <body data-algolia-public-key="<%= ENV["ALGOLIA_FRONT_END_ID"] %>
    <%# Overall Container Styling for all content %>
    <div class="flex flex-col h-screen justify-between">
      <%# Renders NavBar %>
      <header class=""><%= render "shared/navbar" %></header>
      <%# Renders Body %>
      <main class="mb-auto"><%= yield %></main>
      <%# Render Footer %>
      <footer><%= render "shared/footer" %></footer>
    </div>
    <div class="cursor"></div>
    <div class="cursor2"></div>
    <%# Custom Confirm - Generates Modal %>
    <%= render "shared/confirm_modals" %>
  </body>
</html>
