<!DOCTYPE html>
<html>
  <head>
    <title>TakeStock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <div class="flex flex-col h-screen justify-between">
    <header class=""><%= render "shared/navbar" %></header>
    <%= render "shared/flashes" %>
    <main class="mb-auto"><%= yield %></main>
    <footer class="mt-36"><%= render "shared/footer" %></footer>
  </div>

  </body>
<%# </html> %>

<% if false %>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
  <%= yield %>
  <%= render "shared/footer" %>
<% end %>
